<!doctype html>
<html class="no-js" lang="zxx">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NoDot - We wash, you relax</title>
    <meta name="author" content="Laun">
    <meta name="description" content="NoDot - We wash, you relax">
    <meta name="keywords" content="NoDot - We wash, you relax">
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="62x62" href="assets/img/favicons/favicon.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link rel="stylesheet" href="{% static 'fonts/css2.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .truncated {
    display: -webkit-box;          /* Use flexbox layout */
    -webkit-box-orient: vertical;  /* Arrange children vertically */
    -webkit-line-clamp: 2;        /* Limit to 2 lines */
    overflow: hidden;              /* Hide overflow */
    text-overflow: ellipsis;       /* Show ellipsis for overflow */
    line-height: 1.5;              /* Adjust line height for spacing */
    max-height: 3em;               /* Maximum height for 2 lines (2 * line-height) */
}
        .service-item_img {
    height: 400px; /* Set a fixed height */
    overflow: hidden; /* Hide overflow */
}

.service-item_img img {
    /* Maintain aspect ratio */
    height: 100%; /* Fill the height */
    display: block; /* Remove bottom space */
    object-fit: cover; /* Cover the container while preserving aspect ratio */
}
    </style>
</head>

<body>
    <div class="preloader"><button class="th-btn style2 preloaderCls">Cancel Preloader</button>
        <div class="preloader-inner">
            <div class="loader">
                <div class="rot"></div><img src="{% static 'img/logo.png' %}" alt="NoDot">
            </div>
        </div>
    </div>

    <div class="th-menu-wrapper">
        <div class="th-menu-area text-center"><button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo"><a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="Laun"></a>
            </div>
            <div class="th-mobile-menu">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a>
                                    
                    </li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                
                    <li><a href="{% url 'services' %}">Services</a>
                    </li>
                    <li><a href="{% url 'careers' %}">careers</a>
                    </li>
                    <li><a href="{% url 'blogs' %}">Blogs</a>
                    </li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <header class="th-header header-layout2">
        <div class="header-top">
            <div class="container">
                <div class="row justify-content-center justify-content-xl-between align-items-center gy-2">
                    <div class="col-auto d-none d-lg-block">
                        <p class="header-notice text-theme">Welcome to NoDot</p>
                    </div>
                    <div class="col-auto">
                        <div class="header-links">
                            <ul>
                                <li class="d-none d-md-inline-block"><i class="fa-solid fa-clock"></i>Opening Hours:
                                    <span>Monday to Saturday(9:00 AM - 8:00 PM)</span></li>
                                <li>
                                    <div class="social-links"><span class="social-title">Follow Us On:</span> <a
                                            href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a> <a
                                            href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a> <a
                                            href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                                            href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a> <a
                                            href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-wrapper">
            <div class="menu-area">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo"><a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}"
                                        alt="Laun"></a></div>
                        </div>
                        <div class="col-auto ms-xl-auto">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>
                                    <li><a href="{% url 'home' %}">Home</a>
                                    
                                    </li>
                                    <li><a href="{% url 'about' %}">About Us</a></li>
                                
                                    <li><a href="{% url 'services' %}">Services</a>
                                    </li>
                                    <li><a href="{% url 'careers' %}">careers</a>
                                    </li>
                                    <li><a href="{% url 'blogs' %}">Blogs</a>
                                    </li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-auto">
                            <div class="header-button">
                                <!-- <button type="button" class="simple-icon searchBoxToggler">
                                    <i class="far fa-search"></i>
                                </button>  -->
                                <!-- <button type="button" class="simple-icon sideMenuToggler2">
                                    <span class="badge">5</span>
                                     <i class="fa-regular fa-cart-shopping"></i>
                                    </button> -->
                                    <a href="{% url 'schedule_pickup' %}" class="icon_pickup d-block d-lg-none">
                                        <i class="fa-regular fa-truck"></i>
                                    </a>
                                    <button type="button" class="th-menu-toggle d-block d-lg-none">
                                        <i class="far fa-bars"></i>
                                    </button> 
                                    <a href="{% url 'schedule_pickup' %}" class="th-btn th-radius">Schedule A Pickup</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="breadcumb-wrapper" data-bg-src="{% static 'img/bg/breadcumb-bg.jpg' %}">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Services</h1>
                <ul class="breadcumb-menu">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Services</li>
                </ul>
            </div>
        </div>
    </div>
    <section class="bg-top-center overflow-hidden space">
        <div class="container">
            <div class="row gy-4">
    {% for service in services %}
        <div class="col-md-6 col-xl-4">
            <div class="service-item">
                <div class="service-item_wrapper">
                    <div class="service-item_img">
                        <img src="{{ service.images.url }}" alt="img" class="service-image">
                    </div>
                    <div class="service-item_icon">
                        {% if forloop.counter|divisibleby:3 %}
                            <img src="{% static 'img/icon/service_2_1.svg' %}" alt="Icon">
                        {% elif forloop.counter|divisibleby:2 %}
                            <img src="{% static 'img/icon/service_2_2.svg' %}" alt="Icon">
                        {% else %}
                            <img src="{% static 'img/icon/service_2_3.svg' %}" alt="Icon">
                        {% endif %}
                    </div>
                </div>
                <div class="service-item_content" data-bg-src="{% static 'img/shape/service_shape_2.png' %}">
                    <h3 class="box-title"><a href="{% url 'servicedetails' service.service_name %}">{{ service.service_name }}</a></h3>
                    <p class="service-item_text truncated">{{ service.description }}</p>
                    <a href="{% url 'servicedetails' service.service_name %}" class="th-btn border">Read More</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

        </div>
    </section>
    <section class="testi-area" id="testi-sec" data-bg-src="{% static 'img/bg/testi_bg_1.jpg' %}">
        <div class="shape-mockup" data-bottom="0" data-right="0"><img src="{% static 'img/shape/testi_img_1.png' %}"
                alt="shape"></div>
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-8">
                    <div class="testi-card-slide">
                        <div class="title-area"><span class="sub-title style1">Testimonials</span>
                            <h2 class="sec-title text-dark">Our Clients Feedback</h2>
                        </div>
                        <div class="swiper th-slider" id="testiSlide1" data-slider-options='{"effect":"slide"}'>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testi-card">
                                        <div class="testi-card_wrapp">
                                            <div class="testi-card_profile">
                                                <div class="testi-card_avater global-img"><img
                                                        src="{% static 'img/testimonial/testi_1_1.jpg' %}" alt="Avater"></div>
                                                <div class="star-icon"><a href="#"><i class="fa-solid fa-star"></i></a>
                                                    <a href="#"><i class="fa-solid fa-star"></i></a> <a href="#"><i
                                                            class="fa-solid fa-star"></i></a> <a href="#"><i
                                                            class="fa-solid fa-star"></i></a> <a href="#"><i
                                                            class="fa-regular fa-star"></i></a></div>
                                            </div>
                                            <div class="testi-card_wrapper">
                                                <p class="testi-card_text">“If you opted for pickup and delivery, our
                                                    dedicated team will bring your laundry back to your doorstep at the
                                                    scheduled time. For drop-offs, your clean clothes will be waiting.”
                                                </p>
                                                <div class="testimonial-author">
                                                    <div class="testi-card_content">
                                                        <h3 class="testi-card_name">Alex Michel</h3><span
                                                            class="testi-card_desig">Founder CEO</span>
                                                    </div>
                                                    <div class="testi-quote"><img src="{% static 'img/icon/quote.svg' %}"
                                                            alt=""></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testi-card">
                                        <div class="testi-card_wrapp">
                                            <div class="testi-card_profile">
                                                <div class="testi-card_avater global-img"><img
                                                        src="{% static 'img/testimonial/testi_1_2.jpg' %}" alt="Avater"></div>
                                                <div class="star-icon"><a href="#"><i class="fa-solid fa-star"></i></a>
                                                    <a href="#"><i class="fa-solid fa-star"></i></a> <a href="#"><i
                                                            class="fa-solid fa-star"></i></a> <a href="#"><i
                                                            class="fa-solid fa-star"></i></a> <a href="#"><i
                                                            class="fa-regular fa-star"></i></a></div>
                                            </div>
                                            <div class="testi-card_wrapper">
                                                <p class="testi-card_text">“If you opted for pickup and delivery, our
                                                    dedicated team will bring your laundry back to your doorstep at the
                                                    scheduled time. For drop-offs, your clean clothes will be waiting.”
                                                </p>
                                                <div class="testimonial-author">
                                                    <div class="testi-card_content">
                                                        <h3 class="testi-card_name">Jenny Wilson</h3><span
                                                            class="testi-card_desig">Project Manager</span>
                                                    </div>
                                                    <div class="testi-quote"><img src="{% static 'img/icon/quote.svg' %}"
                                                            alt=""></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           
            </div>
        </div>
    </section>
    <section class="overflow-hidden space" id="blog-sec">
        <div class="container">
            <div class="row justify-content-lg-between justify-content-center align-items-center">
                <div class="col-lg-6">
                    <div class="title-area text-center text-lg-start"><span class="sub-title style1">Blog Post</span>
                        <h2 class="sec-title">Latest News & Updates</h2>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="sec-btn">
                        <div class="btn-group"><a href="blog-details.html" class="th-btn">View More Post</a></div>
                    </div>
                </div>
            </div>
            <div class="slider-area">
                <div class="swiper th-slider has-shadow" id="blogSlider1"
                    data-slider-options='{"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"2"},"992":{"slidesPerView":"2"},"1200":{"slidesPerView":"3"}}}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="blog-box">
                                <div class="blog-img"><img src="{% static 'img/blog/blog_2_1.jpg' %}" alt="blog image"></div>
                                <div class="blog-box_wrapper"><span class="blog-box_date">10 <span
                                            class="blog-box_month">nov</span> </span><span
                                        class="blog-box_year">2023</span></div>
                                <div class="blog-box_content">
                                    <div class="blog-meta"><a href="blog.html"><i class="fa-regular fa-user"></i>by
                                            admin</a> <a href="blog.html"><i class="fa-regular fa-comments"></i>2
                                            Comments</a></div>
                                    <h3 class="box-title"><a href="blog-details.html">What Kind of Fabrics Really Need
                                            Dry Cleaning</a></h3>
                                    <p>The frequency of dry cleaning depends on the type of garment and how often worn
                                    </p><a href="blog-details.html" class="th-btn border">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog-box">
                                <div class="blog-img"><img src="{% static 'img/blog/blog_2_2.jpg' %}" alt="blog image"></div>
                                <div class="blog-box_wrapper"><span class="blog-box_date">15 <span
                                            class="blog-box_month">nov</span> </span><span
                                        class="blog-box_year">2023</span></div>
                                <div class="blog-box_content">
                                    <div class="blog-meta"><a href="blog.html"><i class="fa-regular fa-user"></i>by
                                            admin</a> <a href="blog.html"><i class="fa-regular fa-comments"></i>3
                                            Comments</a></div>
                                    <h3 class="box-title"><a href="blog-details.html">Elevate your style with meticulous
                                            dry cleaning</a></h3>
                                    <p>our meticulous dry cleaning services, where precision meets pristine care.</p><a
                                        href="blog-details.html" class="th-btn border">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog-box">
                                <div class="blog-img"><img src="{% static 'img/blog/blog_2_3.jpg' %}" alt="blog image"></div>
                                <div class="blog-box_wrapper"><span class="blog-box_date">16 <span
                                            class="blog-box_month">nov</span> </span><span
                                        class="blog-box_year">2023</span></div>
                                <div class="blog-box_content">
                                    <div class="blog-meta"><a href="blog.html"><i class="fa-regular fa-user"></i>by
                                            admin</a> <a href="blog.html"><i class="fa-regular fa-comments"></i>2
                                            Comments</a></div>
                                    <h3 class="box-title"><a href="blog-details.html">wardrobe with meticulous dry
                                            cleaning services</a></h3>
                                    <p>Revitalize your wardrobe with expert dry cleaning for a pristine polished look.
                                    </p><a href="blog-details.html" class="th-btn border">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog-box">
                                <div class="blog-img"><img src="{% static 'img/blog/blog_2_1.jpg' %}" alt="blog image"></div>
                                <div class="blog-box_wrapper"><span class="blog-box_date">17 <span
                                            class="blog-box_month">nov</span> </span><span
                                        class="blog-box_year">2023</span></div>
                                <div class="blog-box_content">
                                    <div class="blog-meta"><a href="blog.html"><i class="fa-regular fa-user"></i>by
                                            admin</a> <a href="blog.html"><i class="fa-regular fa-comments"></i>4
                                            Comments</a></div>
                                    <h3 class="box-title"><a href="blog-details.html">Revitalize your wardrobe with dry
                                            cleaning</a></h3>
                                    <p>meticulous dry cleaning, preserving fabrics and enhancing garment longevity."</p>
                                    <a href="blog-details.html" class="th-btn border">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog-box">
                                <div class="blog-img"><img src="{% static 'img/blog/blog_2_2.jpg' %}" alt="blog image"></div>
                                <div class="blog-box_wrapper"><span class="blog-box_date">19 <span
                                            class="blog-box_month">nov</span> </span><span
                                        class="blog-box_year">2023</span></div>
                                <div class="blog-box_content">
                                    <div class="blog-meta"><a href="blog.html"><i class="fa-regular fa-user"></i>by
                                            admin</a> <a href="blog.html"><i class="fa-regular fa-comments"></i>4
                                            Comments</a></div>
                                    <h3 class="box-title"><a href="blog-details.html">wardrobe with meticulous dry
                                            cleaning services</a></h3>
                                    <p>Elevate your wardrobe with meticulous dry cleaning precision and care."</p><a
                                        href="blog-details.html" class="th-btn border">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog-box">
                                <div class="blog-img"><img src="{% static 'img/blog/blog_2_3.jpg' %}" alt="blog image"></div>
                                <div class="blog-box_wrapper"><span class="blog-box_date">20 <span
                                            class="blog-box_month">nov</span> </span><span
                                        class="blog-box_year">2023</span></div>
                                <div class="blog-box_content">
                                    <div class="blog-meta"><a href="blog.html"><i class="fa-regular fa-user"></i>by
                                            admin</a> <a href="blog.html"><i class="fa-regular fa-comments"></i>4
                                            Comments</a></div>
                                    <h3 class="box-title"><a href="blog-details.html">Revitalize your wardrobe with dry
                                            cleaning</a></h3>
                                    <p>The frequency of dry cleaning depends on the type of garment and how often worn
                                    </p><a href="blog-details.html" class="th-btn border">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><button data-slider-prev="#blogSlider1" class="slider-arrow slider-prev"><i
                        class="far fa-arrow-left"></i></button> <button data-slider-next="#blogSlider1"
                    class="slider-arrow slider-next"><i class="far fa-arrow-right"></i></button>
            </div>
        </div>
    </section>
    <div class="">
        <div class="container z-index-common">
            <div class="cta-wrap" data-overlay="title" data-opacity="9" data-bg-src="{% static 'img/bg/cta_bg_2.jpg' %}">
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-6 mb-5 mb-lg-0">
                        <div class="title-area mb-0 text-center text-lg-start"><span class="sub-title style1">Get Free
                                Contact For Services</span>
                            <h2 class="sec-title text-white">You Get Premium Laundry Service From Us!</h2>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        <form class="cta-form">
                            <div class="form-group"><input class="form-control" type="email" placeholder="Email Address"
                                    required=""> <button type="submit" class="th-btn style4">Get your services</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="cta-shape"><img src="{% static 'img/shape/line.png' %}" alt=""></div>
            </div>
        </div>
    </div>
    <footer class="footer-wrapper footer-layout2" data-bg-src="{% static 'img/bg/footer_bg_2.jpg' %}">
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-xl-3">
                        <div class="widget footer-widget">
                            <div class="th-widget-about">
                                <div class="about-logo"><a href="{% url 'home' %}"><img
                                            src="{% static 'img/logo.png' %}" alt="No Dot"></a></div>
                                <p class="about-text">Begin by scheduling your laundry man service. You can choose from
                                    our is convenient options Any visible stains</p>
                                <div class="th-social"><a href="https://www.facebook.com/"><i
                                            class="fab fa-facebook-f"></i></a> <a href="https://www.twitter.com/"><i
                                            class="fab fa-twitter"></i></a> <a href="https://www.linkedin.com/"><i
                                            class="fab fa-linkedin-in"></i></a> <a href="https://www.whatsapp.com/"><i
                                            class="fab fa-whatsapp"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Quick Links</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="{% url 'about' %}">About Us</a></li>
                                    <li><a href="{% url 'services' %}">Services</a></li>
                                    <li><a href="{% url 'careers' %}">Careers</a></li>
                                    <li><a href="{% url 'blogs' %}">Blogs</a></li>
                                    <li><a href="{% url 'contact' %}">Contacts</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Recent Posts</h3>
                            <div class="recent-post-wrap">
                                <div class="recent-post">
                                    <div class="media-img"><a href="blog-details.html"><img
                                                src="{% static 'img/blog/recent-post-1-1.jpg' %}" alt="Blog Image"></a></div>
                                    <div class="media-body">
                                        <div class="recent-post-meta"><a href="blog.html"><i
                                                    class="far fa-calendar"></i>21 October , 2023</a></div>
                                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html">A Fresh
                                                Start for Your Wardrobe</a></h4>
                                    </div>
                                </div>
                                <div class="recent-post">
                                    <div class="media-img"><a href="blog-details.html"><img
                                                src="{% static 'img/blog/recent-post-1-2.jpg' %}" alt="Blog Image"></a></div>
                                    <div class="media-body">
                                        <div class="recent-post-meta"><a href="blog.html"><i
                                                    class="far fa-calendar"></i>22 October , 2023</a></div>
                                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Where
                                                Clean Meets Convenience</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Opening Our</h3>
                            <div class="th-widget-schedule">
                                <p class="schedule-info"><span>Mon - Tuesday</span><span>8:00 AM - 6:00 PM</span></p>
                                <p class="schedule-info"><span>Wed:</span><span>9:00 AM - 5:00 PM</span></p>
                                <p class="schedule-info"><span>Fri - Sat:</span><span>9:00 AM - 6:00 PM</span></p>
                                <p class="schedule-info"><span>Sunday</span><span>Closed</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap">
            <div class="container">
                <div class="row gy-2 align-items-center">
                    <div class="col-lg-6">
                        <p class="copyright-text">Copyright <i class="fal fa-copyright"></i> 2024 <a
                                href="#">NoDot</a>. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 text-center text-md-end">
                        <div class="footer-links">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms &amp; Condition</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="scroll-top"><svg class="progress-circle svg-content" width="100%" height="100%" viewbox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;">
            </path>
        </svg></div>
    <script src="{% static 'js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>

</html>